@import url('https://fonts.googleapis.com/css?family=Fira+Mono|Roboto+Slab');

body {
    font-family: 'Roboto Slab', serif;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
}

h1,h2,h3,h4 {
    font-family: 'Roboto Slab', serif;
    border-bottom: 1px solid #aaa;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

tt, code, pre, sourceCode {
    font-family: 'Fira Mono', monospace;
}

.exercise {
    background: #F9EFAB;
}

.note {
    background-color: #A2C8FC;
}

.news {
    background-color: #D5F4E5;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.current {
    background-color: #D5F4E5;
}

.past {
    background-color: #FFFFEC;
}

.future {
    background-color: #FFFFFF;
}

.diversion {
    background: #FEF8ED;
}
